@layer components {
  .card {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 6);
    border: 5px solid var(--color-border);
    padding: calc(var(--spacing) * 4);
    background-color: var(--color-surface);
  }
}
